@model App.Core.Data.Membership

@{ 
    var sendEmailModel = (App.Core.Models.SendEmailModel)ViewBag.SendEmailModel;
    var activationLink = sendEmailModel.WebsiteURL + Url.Action("index", "changepassword", new { guid = Model.PasswordVerificationToken, area = "account" }); 
}

<p>
Information message from @sendEmailModel.WebsiteUrlName<br /> 
-----------------------------------------------
</p>

<p>
    You have made demand to change password for your account on site @sendEmailModel.WebsiteUrlName
</p>
<p>
   To change password go to folloving link:<br />
   <a href="@activationLink">@activationLink</a> 
</p>
<p>
    Best Regards,<br />
    <a href="@sendEmailModel.WebsiteURL">@sendEmailModel.WebsiteUrlName</a>.<br />
</p>

<small>Message has been generated automatically.</small>