@{
    ViewBag.Title = "Change password";
}

    <h3>@ViewBag.Title</h3>

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true, "Password changing was unsuccessful. Please, correct errors a try again.")
        @Html.ValidationMessage("_FORM")

        <div>
            <fieldset>
                <div class="editor-label">
                    New password
                </div>
                <div class="editor-field">
                    @Html.Password("NewPassword")
                    @Html.ValidationMessage("NewPassword")
                </div>
                
                <div class="editor-label">
                    Confirm password
                </div>
                <div class="editor-field">
                    @Html.Password("ConfirmPassword")
                    @Html.ValidationMessage("ConfirmPassword")
                </div>
                
                <p>
                    <input type="submit" value="Change password" class="button3" />
                </p>
            </fieldset>
        </div>
    }
